@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'); }

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype'); }

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype'); }

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype'); }

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Lato/Lato-Regular.ttf') format('truetype'); }

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Lato/Lato-Bold.ttf') format('truetype'); }

body {
  font-family: 'Open Sans', 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  background: #FFF; }

.btn {
  outline: none !important;
  box-shadow: none !important; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700; }

.no-padding {
  padding: 0; }

.img-centered {
  margin: 0 auto; }

p {
  font-size: 20px; }

a {
  color: #777; }

a:hover, a:focus, a:active, a.active {
  color: #777;
  outline: none; }

.mini-topo {
  background: #23336a;
  text-transform: uppercase; }

.mini-topo .texto {
  padding: 15px 0 10px 20px;
  float: left;
  color: #FFF;
  font-size: 14px;
  text-transform: none; }

.mini-topo .bloco-icones {
  padding: 10px 0 10px;
  float: right;
  text-align: right; }

.mini-topo .bloco-icones a {
  background: #0c1853;
  border-color: #0c1853;
  color: #FFF;
  border-radius: 2px;
  font-weight: 600;
  padding: 5px 10px 5px 10px;
  font-size: 10px;
  text-transform: uppercase;
  margin-right: 10px; }

.mini-topo .bloco-icones a:last-of-type {
  margin-right: 0px; }

.mini-topo .bloco-icones a i {
  font-size: 15px;
  margin-right: 7px; }

.topo {
  background: #FFF;
  border-radius: 0;
  margin-bottom: 0;
  border-bottom: 5px solid #dd6d1b; }

.topo .navbar-header .navbar-brand {
  height: auto;
  padding: 5px 15px; }

.topo .topo-menu {
  background: #FFF;
  display: none !important; }

.topo .bloco-atendimento {
  display: block;
  float: right;
  margin-top: 15px; }

.topo .bloco-atendimento .item1 {
  display: block;
  float: left;
  margin-top: 15px;
  margin-left: 20px;
  padding-right: 20px;
  position: relative;
  border-right: 1px solid #ddd; }

.topo .bloco-atendimento .item1 .icone {
  float: left;
  font-size: 40px;
  margin-top: 7px;
  margin-right: 10px;
  color: #dd6d1b; }

.topo .bloco-atendimento .item1 .texto {
  margin-top: 10px;
  display: inline-block;
  float: left;
  font-size: 11px;
  font-family: 'Montserrat', sans-serif;
  color: #777777;
  text-transform: uppercase; }

.topo .bloco-atendimento .item1 .texto span {
  font-size: 16px; }

.topo .bloco-atendimento .item2 {
  display: block;
  float: right;
  margin-top: 5px;
  margin-left: 20px;
  position: relative;
  width: 210px; }

.topo .bloco-atendimento .item2 .icone {
  float: left;
  font-size: 35px;
  margin-right: 10px;
  color: #dd6d1b;
  display: inline-block;
  float: left;
  margin-top: 5px; }

.topo .bloco-atendimento .item2 .info-phone {
  margin-top: 5px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #777;
  display: inline-block;
  float: left; }

.topo .bloco-atendimento .item2 .item-whatsapp {
  display: block;
  float: left;
  width: 100%; }

.topo .bloco-atendimento .item2 .item-whatsapp .icon-whatsapp {
  display: inline-block;
  float: left;
  height: 32px;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  color: #777777;
  text-transform: uppercase;
  padding: 5px 5px 0 0; }

.topo .bloco-atendimento .item2 .item-whatsapp .info-whatsapp {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  color: #dd6d1b;
  display: inline-block;
  float: left; }

header {
  background-attachment: scroll;
  background-image: url('../img/bg8.jpg');
  background-position: center center;
  background-size: cover;
  color: #fff;
  float: left;
  width: 100%; }

header .mascara-header {
  background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
  width: 100%; }

header .bloco-de-cotacao {
  padding-bottom: 40px; }

header .bloco-de-cotacao .engloba-bloco-cotacao {
  padding-top: 10px; }

header .bloco-de-cotacao .engloba-bloco-cotacao .bloco-cotacao-titulo {
  padding: 0;
  padding-bottom: 30px;
  margin: 40px 0 0;
  padding-right: 10px;
  float: right; }

header .bloco-de-cotacao .engloba-bloco-cotacao .bloco-cotacao-titulo h1 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: normal;
  color: #fff;
  font-size: 40px;
  line-height: 60px;
  margin: 100px 0 80px;
  padding: 0 0 5px;
  text-align: center;
  text-transform: none; }

header .bloco-de-cotacao .engloba-bloco-cotacao .bloco-cotacao-titulo p {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  line-height: 27px;
  margin: 0;
  margin-top: 35px;
  margin-bottom: 0px;
  margin-left: 30px;
  padding: 0 15px 0 0;
  text-transform: none;
  font-weight: normal; }

header .bloco-de-cotacao .engloba-bloco-cotacao .bloco-cotacao-titulo p .fa {
  font-size: 23px;
  margin-right: 10px;
  float: left; }

header .bloco-de-cotacao .engloba-bloco-cotacao .formulario-cotacoes {
  padding: 0;
  background: #FFF;
  color: #222;
  margin-top: 40px;
  padding-bottom: 16px;
  max-width: 340px;
  float: left;
  border-radius: 2px; }

header .bloco-de-cotacao .engloba-bloco-cotacao .formulario-cotacoes .topo-cotizador {
  background: #23336a;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 15px;
  display: none; }

header .bloco-de-cotacao .engloba-bloco-cotacao .formulario-cotacoes form {
  padding: 20px 10px; }

header .bloco-de-cotacao .engloba-bloco-cotacao .formulario-cotacoes label {
  text-align: left;
  width: 100%;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: normal;
  color: #777;
  margin-bottom: 0;
  padding-left: 5px; }

header .bloco-de-cotacao .engloba-bloco-cotacao .formulario-cotacoes label.error {
  color: #d91f26;
  font-size: 10px;
  display: block;
  padding: 0;
  padding-top: 5px; }

header .bloco-de-cotacao .engloba-bloco-cotacao .formulario-cotacoes input {
  font-family: 'Open Sans';
  font-size: 15px;
  padding: 10px;
  height: 42px;
  border-radius: 4px; }

header .bloco-de-cotacao .engloba-bloco-cotacao .formulario-cotacoes select {
  font-family: 'Open Sans';
  padding: 10px;
  height: 46px;
  border-radius: 4px;
  font-size: 15px; }

header .bloco-de-cotacao .engloba-bloco-cotacao .formulario-cotacoes .destinos {
  padding: 5px 5px 5px;
  margin-bottom: 0px; }

header .bloco-de-cotacao .engloba-bloco-cotacao .formulario-cotacoes .campos-esconder {
  display: none; }

header .bloco-de-cotacao .engloba-bloco-cotacao .formulario-cotacoes .periodo-viagem, header .bloco-de-cotacao .engloba-bloco-cotacao .formulario-cotacoes .motivo-tipo {
  padding: 5px 0px 5px; }

header .bloco-de-cotacao .engloba-bloco-cotacao .formulario-cotacoes .periodo-viagem .form-group, header .bloco-de-cotacao .engloba-bloco-cotacao .formulario-cotacoes .motivo-tipo .form-group {
  padding: 0px 5px;
  margin-bottom: 0px; }

header .bloco-de-cotacao .engloba-bloco-cotacao .formulario-cotacoes .periodo-viagem .form-group input, header .bloco-de-cotacao .engloba-bloco-cotacao .formulario-cotacoes .motivo-tipo .form-group input {
  height: 46px;
  font-size: 15px;
  padding: 10px;
  background: #FFF; }

header .bloco-de-cotacao .engloba-bloco-cotacao .formulario-cotacoes .qtd-passageiros {
  padding: 5px 0px;
  margin-bottom: 5px; }

header .bloco-de-cotacao .engloba-bloco-cotacao .formulario-cotacoes .qtd-passageiros .form-group {
  padding: 0px 10px;
  margin-bottom: 0px; }

header .bloco-de-cotacao .engloba-bloco-cotacao .formulario-cotacoes .qtd-passageiros .form-group .grupo-botoes {
  background: red; }

header .bloco-de-cotacao .engloba-bloco-cotacao .formulario-cotacoes .qtd-passageiros .form-group .grupo-botoes .btn-add-passageiro {
  float: left;
  border-radius: 0;
  border: 1px solid #ccc;
  height: 44px;
  width: 33%;
  border-left: 0px;
  color: #777;
  background: #f7f7f7; }

header .bloco-de-cotacao .engloba-bloco-cotacao .formulario-cotacoes .qtd-passageiros .form-group .grupo-botoes .btn-rem-passageiro {
  float: left;
  border-radius: 0;
  border: 1px solid #ccc;
  height: 44px;
  width: 33%;
  border-right: 0px;
  color: #777;
  background: #f7f7f7; }

header .bloco-de-cotacao .engloba-bloco-cotacao .formulario-cotacoes .qtd-passageiros .form-group .grupo-botoes input {
  width: 34%;
  float: left;
  height: 44px;
  text-align: center; }

header .bloco-de-cotacao .engloba-bloco-cotacao .formulario-cotacoes .qtd-passageiros .form-group input {
  font-size: 15px;
  padding: 10px;
  font-family: 'Open sans';
  color: #555; }

header .bloco-de-cotacao .engloba-bloco-cotacao .formulario-cotacoes .qtd-passageiros label {
  text-align: left;
  width: 100%;
  font-family: 'Open sans';
  font-size: 13px;
  font-weight: bold;
  color: #777;
  margin-bottom: 0px;
  padding-left: 10px; }

header .bloco-de-cotacao .engloba-bloco-cotacao .formulario-cotacoes .qtd-passageiros .form-group label {
  text-align: left;
  width: 100%;
  text-transform: uppercase;
  font-family: 'Open sans';
  font-size: 12px;
  font-weight: normal;
  color: #777;
  padding-left: 0px;
  margin-bottom: 5px; }

header .bloco-de-cotacao .engloba-bloco-cotacao .formulario-cotacoes .qtd-passageiros .form-group label.error {
  color: #13276f;
  font-size: 11px; }

header .bloco-de-cotacao .engloba-bloco-cotacao .formulario-cotacoes .botao-de-cotar {
  padding: 5px 5px; }

header .bloco-de-cotacao .engloba-bloco-cotacao .formulario-cotacoes .botao-de-cotar .botao-cotar {
  padding: 10px 10px !important;
  font-family: 'Open Sans';
  font-size: 24px;
  font-weight: normal;
  color: #fff;
  background: #f47521;
  border: 1px solid #f47521;
  border-radius: 4px;
  font-weight: bold; }

header .bloco-de-cotacao .engloba-bloco-cotacao .formulario-cotacoes .botao-de-cotar .botao-cotar:hover {
  background: #dd6d1b;
  border: 1px solid #dd6d1b; }

.bloco-modulo1 {
  float: left;
  width: 100%;
  padding: 75px 0 75px;
  border-bottom: 1px solid #DDD; }

.bloco-modulo1 .titulo-principal {
  font-family: 'Open Sans';
  text-transform: none;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  padding: 10px 0;
  color: #f47521;
  margin-bottom: 60px;
  text-align: center; }

.bloco-modulo1 .bloco-icone {
  margin-bottom: 35px; }

.bloco-modulo1 .bloco-icone .icone {
  max-width: 100px;
  margin-top: 15px; }

.bloco-modulo1 .bloco-icone .icone .fa-icone {
  font-size: 50px;
  border: 1px solid #ddd;
  border-radius: 50px;
  padding: 15px;
  color: #f47521;
  background: #fff;
  width: 80px;
  height: 80px;
  text-align: center; }

.bloco-modulo1 .bloco-icone .icone .fa-heartbeat {
  padding: 20px 15px;
  font-size: 47px; }

.bloco-modulo1 .bloco-icone .icone .fa-briefcase {
  float: left;
  padding: 20px 15px;
  font-size: 42px; }

.bloco-modulo1 .bloco-icone .icone .fa-ambulance {
  padding: 17px 15px;
  font-size: 42px; }

.bloco-modulo1 .bloco-icone .icone .fa-plane {
  padding: 17px 15px;
  font-size: 47px; }

.bloco-modulo1 .bloco-icone .icone .fa-clock-o {
  font-size: 45px; }

.bloco-modulo1 .bloco-icone .icone .fa-bed {
  padding: 17px 15px;
  font-size: 40px; }

.bloco-modulo1 .bloco-icone .texto-icone {
  margin-top: 10px;
  font-family: 'Open Sans';
  font-size: 18px;
  color: #777;
  line-height: 80px; }

.bloco-modulo1 .bloco-icone .texto-icone span {
  display: inline-block;
  vertical-align: middle;
  line-height: 27px; }

.bloco-principais-coberturas {
  padding: 75px 0 75px;
  float: left;
  width: 100%;
  border-bottom: 1px solid #DDD; }

.bloco-principais-coberturas .titulo-coberturas {
  font-family: 'Open Sans';
  text-transform: none;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  padding: 10px 0;
  color: #f47521;
  margin-bottom: 60px;
  text-align: center; }

.bloco-principais-coberturas .box-icon-1 {
  margin-bottom: 20px; }

.bloco-principais-coberturas .box-icon-1 .icon {
  display: inline-block;
  color: #f47521;
  font-size: 36px;
  line-height: 43px;
  float: left; }

.bloco-principais-coberturas .box-icon-1 .body-content {
  margin-left: 55px;
  color: #666666; }

.bloco-principais-coberturas .box-icon-1 .body-content .heading {
  color: #333333;
  font-weight: 600; }

.bloco-principais-coberturas .box-icon-2 {
  margin-bottom: 40px; }

.bloco-principais-coberturas .box-icon-2 .icon {
  display: inline-block;
  color: #f47521;
  font-size: 36px;
  line-height: 43px;
  float: left; }

.bloco-principais-coberturas .box-icon-2 .body-content {
  margin-left: 65px;
  color: #666666; }

.bloco-principais-coberturas .box-icon-2 .body-content .heading {
  color: #333333;
  font-size: 22px;
  margin-bottom: 15px; }

.bloco-principais-coberturas .box-image-1 {
  position: relative;
  margin-bottom: 30px; }

.bloco-principais-coberturas .box-image-1 .image {
  overflow: hidden;
  background-color: #000; }

.bloco-principais-coberturas .box-image-1 .image img {
  opacity: .9;
  max-width: 100%;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition: 0.1s all linear;
  transition: 0.1s all linear; }

.bloco-principais-coberturas .box-image-1:hover .image img {
  opacity: .4;
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  box-shadow: none;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms; }

.bloco-principais-coberturas .box-image-1 .description {
  position: absolute;
  left: 40px;
  bottom: 40px; }

.bloco-principais-coberturas .box-image-1 .blok-title {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400; }

.bloco-principais-coberturas .box-image-2 .image img {
  width: 100%; }

.bloco-principais-coberturas .box-image-2 .blok-title {
  color: #12aaeb;
  font-size: 24px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 20px; }

.bloco-principais-coberturas .box-image-3 {
  position: relative;
  margin-bottom: 40px; }

.bloco-principais-coberturas .box-image-3 .image {
  overflow: hidden;
  background-color: #12aaeb;
  position: relative; }

.bloco-principais-coberturas .box-image-3 .image:before {
  content: '';
  position: absolute;
  background: url(../images/link.gif) center top no-repeat;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  text-align: center;
  z-index: 9;
  color: #ffffff;
  font-size: 30px;
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all ease .25s;
  transition: all ease .25s; }

.bloco-principais-coberturas .box-image-3 .image img {
  opacity: 1;
  max-width: 100%;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition: 0.1s all linear;
  transition: 0.1s all linear; }

.bloco-principais-coberturas .box-image-3:hover .image img {
  opacity: .2;
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms; }

.bloco-principais-coberturas .box-image-3:hover .image:before {
  top: 50%;
  filter: alpha(opacity=1);
  opacity: 100; }

.bloco-principais-coberturas .box-image-3 .blok-title {
  text-align: center;
  color: #043140;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px; }

.bloco-principais-coberturas .box-image-3:hover .blok-title {
  color: #12aaeb; }

.artigos-destaques {
  padding: 75px 0 75px;
  float: left;
  width: 100%; }

.artigos-destaques .titulo-principal {
  font-family: 'Open Sans';
  text-transform: none;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  padding: 10px 0;
  color: #f47521;
  margin-bottom: 50px; }

.artigos-destaques .item {
  padding: 7px; }

.artigos-destaques .item a {
  text-decoration: none; }

.artigos-destaques .item a:hover .bloco .titulo {
  color: #f47521; }

.artigos-destaques .item .bloco {
  border: 1px solid #DDD;
  float: left;
  background: #FFF; }

.artigos-destaques .item .bloco img {
  width: 100%;
  margin-bottom: 10px;
  float: left; }

.artigos-destaques .item .bloco .titulo {
  padding: 0 10px;
  line-height: 27px;
  text-transform: none;
  color: #222;
  font-size: 18px;
  font-family: 'Open Sans';
  font-weight: normal;
  height: 55px;
  overflow: hidden;
  text-align: center;
  width: 100%;
  float: left; }

.artigos-destaques .item .bloco .descricao {
  float: left;
  text-align: center;
  font-size: 12px;
  font-family: 'Open Sans';
  line-height: 22px;
  padding: 10px 10px 10px;
  height: 85px;
  overflow: hidden;
  width: 100%; }

.rodape {
  font-family: 'Open Sans';
  background-color: #0c1853;
  color: #ffffff;
  padding-top: 10px;
  float: left;
  width: 100%; }

.rodape .rodape-item {
  margin-top: 20px;
  margin-bottom: 20px; }

.rodape .rodape-item .rodape-titulo {
  font-size: 24px;
  font-weight: 600;
  padding: 10px 0; }

.rodape .rodape-item .rodape-titulo:after {
  content: '';
  display: block;
  width: 35px;
  border-bottom: 1px solid #f47521;
  margin-top: 20px; }

.rodape .rodape-item p {
  font-size: 14px;
  padding: 10px;
  margin-top: 10px; }

.rodape .rodape-item .lista {
  margin: 0;
  padding: 0; }

.rodape .rodape-item .lista li {
  list-style: none;
  margin: 14px 0; }

.rodape .rodape-item .lista li:before {
  content: '\f105';
  font: normal normal normal 16px/1 FontAwesome;
  color: #f47521;
  margin-right: 10px; }

.rodape .rodape-item .lista li a {
  color: #ffffff; }

.rodape .rodape-item .lista li:hover {
  color: #f6ba18; }

.rodape .rodape-item .rodape-informativo input {
  background: #f7f7f7;
  width: 90%;
  font-family: 'Open Sans'; }

.rodape .rodape-item .rodape-informativo .botao-cadastrar {
  background: #dd6d1b;
  font-size: 14px;
  border: 1px solid #dd6d1b;
  font-family: 'Open Sans'; }

.rodape .rodape-item .rodape-certificados .item .parceiro {
  margin-top: 30px;
  background: url(/assets/img/icones/sulamerica.png) no-repeat scroll center center/cover;
  float: left;
  width: 120px;
  height: 50px; }

.rodape .rodape-item .rodape-certificados .item .cadastur {
  margin-top: 30px;
  background: url(/assets/img/icones/cadastur.png) no-repeat scroll center center/cover;
  float: left;
  width: 150px;
  height: 50px; }

.rodape .rodape-item .rodape-certificados .item .grupo {
  background: url(/assets/img/icones/selo.png) no-repeat scroll center center/cover;
  width: 65px;
  height: 65px;
  margin-top: 20px; }

.rodape .rodape-item .rodape-certificados .item .ssl {
  margin-top: 20px;
  background: url(/assets/img/icones/ssl.png) no-repeat scroll center center/cover;
  width: 65px;
  height: 65px;
  margin-left: 5px; }

.rodape .rodape-direitos {
  padding: 10px 0 0;
  color: #FFF;
  font-size: 14px;
  background-color: #17215d; }

.rodape .rodape-direitos p {
  font-size: 14px; }

#pagina-area-segurado .area-segurado-bloco-login {
  width: 450px;
  margin: 40px auto 30px; }

#pagina-area-segurado .area-segurado-bloco-login .imagem-logo {
  width: 100%;
  margin-bottom: 20px; }

#pagina-area-segurado .area-segurado-bloco-login .imagem-logo img {
  display: block;
  width: 175px;
  margin: 0 auto; }

#pagina-area-segurado .area-segurado-bloco-login h1.titulo-principal {
  font-family: 'Open Sans';
  text-transform: none;
  font-size: 28px;
  font-weight: 600;
  padding: 10px 0 0;
  color: #f47521;
  text-align: center;
  line-height: 35px;
  margin-top: 0; }

#pagina-area-segurado .area-segurado-bloco-login p.descricao {
  font-family: 'Open Sans';
  font-size: 14px;
  color: #777;
  text-align: center;
  line-height: 25px;
  margin-bottom: 20px; }

#pagina-area-segurado .area-segurado-bloco-login .facebook-login {
  width: 100%;
  max-width: 350px;
  display: block;
  margin: auto;
  padding: 10px 15px;
  margin-bottom: 20px; }

#pagina-area-segurado .area-segurado-bloco-login .facebook-login .btn-facebook-login {
  padding: 10px 10px;
  font-family: 'Open Sans';
  font-size: 17px;
  font-weight: normal;
  color: #fff;
  background: #36579a;
  border: 1px solid #36579a;
  border-radius: 4px;
  width: 100%; }

#pagina-area-segurado .area-segurado-bloco-login .facebook-login .btn-facebook-login .fa-facebook {
  margin-right: 20px; }

#pagina-area-segurado .area-segurado-bloco-login .form-login {
  width: 100%;
  max-width: 350px;
  display: block;
  margin: auto; }

#pagina-area-segurado .area-segurado-bloco-login .form-login input {
  font-family: 'Open Sans';
  font-size: 15px;
  padding: 10px;
  height: 50px;
  border-radius: 4px; }

#pagina-area-segurado .area-segurado-bloco-login .form-login .btn-login {
  padding: 10px 10px;
  font-family: 'Open Sans';
  font-size: 17px;
  font-weight: normal;
  color: #fff;
  background: #37458a;
  border: 1px solid #37458a;
  border-radius: 4px;
  width: 100%; }

#pagina-area-segurado .area-segurado-bloco-login .form-login a.esqueci-a-senha {
  width: 100%;
  float: left;
  font-family: 'Open Sans';
  font-size: 16px;
  color: #777;
  text-align: center;
  line-height: 25px;
  margin: 20px 0; }

#pagina-painel-segurado {
  padding: 50px 0 10px; }

#pagina-painel-segurado h1.titulo-principal {
  font-family: 'Open Sans';
  text-transform: none;
  font-size: 28px;
  font-weight: 600;
  padding: 0 0 30px;
  color: #f47521;
  text-align: center;
  line-height: 35px; }

#pagina-painel-segurado .bloco-painel-segurado .menu {
  padding: 0; }

#pagina-painel-segurado .bloco-painel-segurado .menu .navbar-collapse {
  padding: 0; }

#pagina-painel-segurado .bloco-painel-segurado .menu .navbar-collapse ul {
  width: 100%; }

#pagina-painel-segurado .bloco-painel-segurado .menu .navbar-collapse ul li {
  width: 100%; }

#pagina-cotacao {
  padding: 50px 0 10px; }

#pagina-cotacao h1.titulo-principal {
  font-family: 'Open Sans';
  text-transform: none;
  font-size: 28px;
  font-weight: 600;
  padding: 0 0 30px;
  color: #f47521;
  text-align: center;
  line-height: 35px; }

#pagina-cotacao .bloco-seguradora {
  padding: 0px 5px; }

#pagina-cotacao .bloco-seguradora .seguradora {
  margin-top: 65px;
  padding: 25px 0 20px;
  border: 1px solid #DDD; }

#pagina-cotacao .bloco-seguradora .seguradora .descricao {
  padding: 10px 15px 10px;
  font-family: 'Open Sans';
  font-size: 14px;
  color: #8c8c8c;
  text-align: center;
  margin: 0; }

#pagina-cotacao .bloco-seguradora .seguradora img {
  display: block;
  margin: 0 auto;
  width: 140px; }

#pagina-cotacao .planos {
  padding: 0; }

#pagina-cotacao .planos .plano {
  padding: 0 7px; }

#pagina-cotacao .planos .plano .agrupamento {
  border: 1px solid #DDD;
  border-radius: 2px;
  float: left;
  width: 100%; }

#pagina-cotacao .planos .plano .agrupamento h2.titulo {
  background: #f7f7f7;
  margin: 0 0 15px 0;
  font-family: 'Open Sans';
  text-transform: none;
  font-size: 18px;
  font-weight: 600;
  padding: 0px 5px;
  color: #777;
  text-align: center;
  border-bottom: 1px solid #DDD;
  height: 65px;
  line-height: 65px;
  overflow: hidden; }

#pagina-cotacao .planos .plano .agrupamento h2.titulo span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal; }

#pagina-cotacao .planos .plano .agrupamento .grupo-valor {
  width: 100%;
  padding: 5px 0 0; }

#pagina-cotacao .planos .plano .agrupamento .grupo-valor .valor {
  font-family: 'Lato';
  font-size: 35px;
  color: #777;
  text-align: center;
  font-weight: bold;
  letter-spacing: -2px; }

#pagina-cotacao .planos .plano .agrupamento .grupo-valor .valor span {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: bold;
  color: #8c8c8c;
  margin-left: -20px; }

#pagina-cotacao .planos .plano .agrupamento .grupo-valor .faixa-idade {
  font-family: 'Open Sans';
  font-size: 14px;
  color: #8c8c8c;
  text-align: center;
  padding: 0 10px 5px; }

#pagina-cotacao .planos .plano .agrupamento .botao-de-comprar {
  width: 100%;
  padding: 10px 20px;
  margin: 10px 0; }

#pagina-cotacao .planos .plano .agrupamento .botao-de-comprar .btn-contratar {
  width: 100%;
  padding: 10px 0;
  font-family: 'Open Sans';
  font-size: 17px;
  font-weight: normal;
  color: #fff;
  background: #f47521;
  border: 1px solid #f47521;
  border-radius: 4px;
  width: 100%; }

#pagina-cotacao .coberturas {
  padding: 20px; }

#pagina-cotacao .coberturas table {
  border-bottom: 1px solid #DDD; }

#pagina-cotacao .coberturas table tbody tr td {
  cursor: pointer;
  font-size: 16px;
  font-family: 'Lato';
  font-weight: bold;
  color: #8c8c8c;
  text-align: center;
  min-height: 35px;
  line-height: 35px; }

#pagina-cotacao .coberturas table tbody tr td span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal; }

#pagina-cotacao .coberturas table tbody tr td:first-of-type {
  font-family: 'Open Sans';
  font-size: 14px;
  color: #f47521;
  text-align: left; }

#pagina-cotacao .coberturas table tbody tr:hover {
  background: #f7f7f7; }

#pagina-cotacao .coberturas table tbody tr:first-of-type td {
  border-top: 0; }

#pagina-viajantes {
  padding: 50px 0 10px; }

#pagina-viajantes h1.titulo-principal {
  font-family: 'Open Sans';
  text-transform: none;
  font-size: 28px;
  font-weight: 600;
  padding: 0 0 30px;
  color: #f47521;
  text-align: center;
  line-height: 35px; }

#pagina-viajantes .bloco-viajantes .destino {
  padding: 20px 10px; }

#pagina-viajantes .bloco-viajantes .destino .subtitulo {
  font-family: 'Open Sans';
  text-transform: none;
  font-size: 18px;
  font-weight: 600;
  color: #37458a;
  margin-bottom: 15px; }

#pagina-viajantes .bloco-viajantes .destino .form-group {
  padding: 0 3px; }

#pagina-viajantes .bloco-viajantes .destino .form-group input, #pagina-viajantes .bloco-viajantes .destino .form-group select {
  font-family: 'Open Sans';
  font-size: 15px;
  padding: 10px;
  height: 50px;
  border-radius: 4px; }

#pagina-viajantes .bloco-viajantes .destino .form-group.campo-validacao label.error {
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #d91f26;
  font-weight: normal;
  font-size: 13px;
  padding: 5px; }

#pagina-viajantes .bloco-viajantes .viajantes {
  padding: 20px 10px;
  border-bottom: 1px solid #DDD; }

#pagina-viajantes .bloco-viajantes .viajantes .subtitulo {
  font-family: 'Open Sans';
  text-transform: none;
  font-size: 18px;
  font-weight: 600;
  color: #37458a;
  margin-bottom: 15px; }

#pagina-viajantes .bloco-viajantes .viajantes .viajante .form-group {
  padding: 0 3px; }

#pagina-viajantes .bloco-viajantes .viajantes .viajante .form-group input, #pagina-viajantes .bloco-viajantes .viajantes .viajante .form-group select {
  font-family: 'Open Sans';
  font-size: 15px;
  padding: 10px;
  height: 50px;
  border-radius: 4px; }

#pagina-viajantes .bloco-viajantes .viajantes .viajante .form-group.campo-validacao label.error {
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #d91f26;
  font-weight: normal;
  font-size: 13px;
  padding: 5px; }

#pagina-viajantes .bloco-viajantes .viajantes .viajante .viajante-bloco-documento {
  padding: 0; }

#pagina-viajantes .bloco-viajantes .viajantes .viajante .viajante-bloco-nome {
  padding: 0; }

#pagina-viajantes .bloco-viajantes .viajantes .viajante .viajante-bloco-nascimento {
  padding: 0; }

#pagina-viajantes .bloco-viajantes .viajantes .viajante .viajante-bloco-sexo {
  padding: 0; }

#pagina-viajantes .bloco-viajantes .viajantes .viajante .viajante-bloco-botoes {
  padding: 0; }

#pagina-viajantes .bloco-viajantes .viajantes .viajante .viajante-bloco-botoes .add-viajante {
  padding: 5px 15px;
  background: #37458a;
  border-color: #37458a;
  color: #fff;
  font-size: 13px;
  margin-left: 10px;
  float: right; }

#pagina-viajantes .bloco-viajantes .viajantes .viajante .viajante-bloco-botoes .btn-del-viajante {
  padding: 5px 10px;
  background: #DDD;
  border-color: #777;
  color: #777;
  font-size: 13px;
  float: right; }

#pagina-viajantes .bloco-viajantes .avancar {
  float: left;
  margin-top: 25px;
  padding: 50px 10px; }

#pagina-viajantes .bloco-viajantes .avancar .btn-avancar {
  float: right;
  padding: 10px 20px;
  font-family: 'Open Sans';
  font-size: 17px;
  font-weight: normal;
  color: #fff;
  margin-right: 20px;
  background: #f47521;
  border: 1px solid #f47521;
  border-radius: 4px; }

#pagina-pagamento {
  padding: 50px 0 10px; }

#pagina-pagamento h1.titulo-principal {
  font-family: 'Open Sans';
  text-transform: none;
  font-size: 28px;
  font-weight: 600;
  color: #f47521;
  text-align: center;
  line-height: 35px; }

#pagina-pagamento .bloco-pagamento .forma-pagamento {
  float: left;
  width: 100%;
  padding: 20px 10px; }

#pagina-pagamento .bloco-pagamento .forma-pagamento .subtitulo {
  font-family: 'Open Sans';
  text-transform: none;
  font-size: 18px;
  font-weight: 600;
  color: #37458a;
  margin-bottom: 15px; }

#pagina-pagamento .bloco-pagamento .forma-pagamento .tabs-forma-de-pagamento {
  color: #fff;
  font-size: 16px;
  padding: 15px 0 0;
  border-bottom: 0; }

#pagina-pagamento .bloco-pagamento .forma-pagamento .tabs-forma-de-pagamento li a {
  color: #777;
  background: #f7f7f7;
  border: 1px solid #DDD; }

#pagina-pagamento .bloco-pagamento .forma-pagamento .tabs-forma-de-pagamento li.active a {
  color: #777;
  background: #FFF;
  border-bottom-color: #FFF; }

#pagina-pagamento .bloco-pagamento .forma-pagamento .tab-content {
  border: 1px solid #DDD;
  padding: 10px 0px 10px;
  float: left;
  width: 100%; }

#pagina-pagamento .bloco-pagamento .forma-pagamento .tab-content .detalhes-forma-pagamento {
  padding: 10px; }

#pagina-pagamento .bloco-pagamento .forma-pagamento .tab-content .detalhes-forma-pagamento h4 {
  font-family: 'Open Sans';
  text-transform: none;
  font-size: 18px;
  color: #777;
  margin-bottom: 15px;
  padding: 0 10px; }

#pagina-pagamento .bloco-pagamento .forma-pagamento .tab-content .detalhes-forma-pagamento p {
  width: 100%;
  font-family: 'Open Sans';
  font-size: 14px;
  color: #8c8c8c;
  padding: 10px; }

#pagina-pagamento .bloco-pagamento .forma-pagamento .tab-content .detalhes-forma-pagamento .aceito {
  width: 100%;
  float: left;
  padding: 0 10px; }

#pagina-pagamento .bloco-pagamento .forma-pagamento .tab-content .detalhes-forma-pagamento .aceito .form-group {
  margin: 0;
  float: left;
  width: 100%;
  margin: 15px 0 25px; }

#pagina-pagamento .bloco-pagamento .forma-pagamento .tab-content .detalhes-forma-pagamento .aceito .form-group input {
  float: left;
  height: auto;
  position: relative;
  margin: 0;
  margin-top: 2px; }

#pagina-pagamento .bloco-pagamento .forma-pagamento .tab-content .detalhes-forma-pagamento .aceito .form-group span {
  float: left;
  margin-left: 5px;
  color: #777;
  width: 90%;
  font-size: 14px; }

#pagina-pagamento .bloco-pagamento .forma-pagamento .tab-content .detalhes-forma-pagamento .aceito .form-group span a {
  color: #f47521; }

#pagina-pagamento .bloco-pagamento .forma-pagamento .tab-content .campos-formulario {
  padding-top: 10px; }

#pagina-pagamento .bloco-pagamento .forma-pagamento .tab-content .campos-formulario .bandeiras {
  width: 100%;
  padding: 3px;
  float: left;
  margin-bottom: 5px; }

#pagina-pagamento .bloco-pagamento .forma-pagamento .tab-content .campos-formulario .bandeiras .bandeira_interna {
  margin: 0 2px 2px 0;
  float: left;
  border: 1px solid #ccc;
  opacity: 0.5;
  background: #fff;
  padding: 2px; }

#pagina-pagamento .bloco-pagamento .forma-pagamento .tab-content .campos-formulario .bandeiras .bandeira_interna img {
  width: 55px; }

#pagina-pagamento .bloco-pagamento .forma-pagamento .tab-content .campos-formulario .bandeiras .bandeira_interna.ativo {
  background: #f47521;
  opacity: 1; }

#pagina-pagamento .bloco-pagamento .forma-pagamento .tab-content .campos-formulario .engloba-campos {
  padding: 0px; }

#pagina-pagamento .bloco-pagamento .forma-pagamento .tab-content .campos-formulario .engloba-campos .form-group {
  padding: 0 3px; }

#pagina-pagamento .bloco-pagamento .forma-pagamento .tab-content .campos-formulario .engloba-campos .form-group input, #pagina-pagamento .bloco-pagamento .forma-pagamento .tab-content .campos-formulario .engloba-campos .form-group select {
  font-family: 'Open Sans';
  font-size: 15px;
  padding: 10px;
  height: 50px;
  border-radius: 4px; }

#pagina-pagamento .bloco-pagamento .forma-pagamento .tab-content .campos-formulario .engloba-campos .form-group.campo-validacao label.error {
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #d91f26;
  font-weight: normal;
  font-size: 13px;
  padding: 5px; }

#pagina-pagamento .bloco-pagamento .forma-pagamento .tab-content .campos-formulario .bloco-botao {
  float: left;
  width: 100%;
  padding: 15px 2px; }

#pagina-pagamento .bloco-pagamento .forma-pagamento .tab-content .campos-formulario .bloco-botao .botao-avancar {
  float: right;
  padding: 10px 20px;
  font-family: 'Open Sans';
  font-size: 17px;
  font-weight: normal;
  color: #fff;
  background: #f47521;
  border: 1px solid #f47521;
  border-radius: 4px; }

#pagina-pagamento .bloco-pagamento .bloco-cupom {
  width: 100%;
  float: left;
  padding: 10px 10px; }

#pagina-pagamento .bloco-pagamento .bloco-cupom .subtitulo {
  font-family: 'Open Sans';
  text-transform: none;
  font-size: 18px;
  font-weight: 600;
  color: #777;
  margin-bottom: 15px;
  padding: 0 5px; }

#pagina-pagamento .bloco-pagamento .bloco-cupom .form-cupom {
  border-radius: 3px;
  display: block;
  padding: 0; }

#pagina-pagamento .bloco-pagamento .bloco-cupom .form-cupom .texto-cupom {
  color: #777;
  font-size: 12px;
  padding: 0 20px 5px;
  margin-bottom: 20px; }

#pagina-pagamento .bloco-pagamento .bloco-cupom .form-cupom .alert-cupom {
  margin: 0;
  color: #d91f26;
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  padding: 0 15px 5px;
  display: none; }

#pagina-pagamento .bloco-pagamento .bloco-cupom .form-cupom .form-group {
  padding: 0 3px; }

#pagina-pagamento .bloco-pagamento .bloco-cupom .form-cupom .form-group input {
  font-family: 'Open Sans';
  font-size: 15px;
  padding: 10px;
  height: 44px;
  border-radius: 4px; }

#pagina-pagamento .bloco-pagamento .bloco-cupom .form-cupom .form-group.campo-validacao label.error {
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #d91f26;
  font-weight: normal;
  font-size: 13px;
  padding: 5px; }

#pagina-pagamento .bloco-pagamento .bloco-cupom .form-cupom .botao-cupom {
  padding: 0px; }

#pagina-pagamento .bloco-pagamento .bloco-cupom .form-cupom .botao-cupom .btn-cupom {
  text-align: center;
  float: left;
  padding: 10px 20px;
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: normal;
  color: #777;
  background: #DDD;
  border: 1px solid #ccc;
  border-radius: 4px; }

#pagina-pagamento .bloco-pagamento .bloco-cupom-mensagem {
  border: 1px solid #ddd;
  float: left;
  margin: 30px 0;
  padding: 15px 0 15px;
  width: 100%;
  color: #777; }

#pagina-pagamento .bloco-pagamento .bloco-cupom-mensagem .mensagem {
  font-size: 14px; }

#pagina-pagamento .bloco-pagamento .bloco-cupom-mensagem .mensagem a {
  font-size: 13px;
  color: orangered; }

#pagina-finalizacao {
  padding: 50px 0 10px; }

#pagina-finalizacao h1.titulo-principal {
  font-family: 'Open Sans';
  text-transform: none;
  font-size: 28px;
  font-weight: 600;
  padding: 0 0 30px;
  color: #f47521;
  text-align: center;
  line-height: 35px; }

#pagina-finalizacao .bloco-finalizacao p {
  padding: 10px 30px 10px;
  font-family: 'Open Sans';
  font-size: 14px;
  color: #8c8c8c;
  line-height: 27px; }

#resumo {
  margin-top: 20px; }

#resumo .bloco-resumo {
  border: 1px solid #ddd;
  padding: 0;
  margin-bottom: 10px; }

#resumo .bloco-resumo .panel-heading {
  background: #f7f7f7; }

#resumo .bloco-resumo .panel-heading .panel-title {
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: 13px;
  color: #777;
  margin: 0;
  border: 0; }

#resumo .bloco-resumo .panel-heading .panel-title a:hover, #resumo .bloco-resumo .panel-heading .panel-title a:active, #resumo .bloco-resumo .panel-heading .panel-title a:focus {
  text-decoration: none; }

#resumo .bloco-resumo .panel-body {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: bold;
  color: #f47521; }

#resumo .bloco-resumo .panel-body span {
  font-weight: normal;
  color: #777; }

#bloco-selos {
  padding: 50px 0 0; }

#bloco-selos .bloco-selos-formas-pagamento .item {
  width: 396px;
  height: 33px;
  margin-top: 20px;
  margin-left: 5px;
  background: url(/assets/img/icones/faixa-bandeiras.png) no-repeat; }

#bloco-selos .bloco-selos-garantia .item .certificado {
  margin-top: 7px;
  background: url(/assets/img/icones/cadastur.png) no-repeat scroll center center/cover;
  width: 135px;
  height: 45px; }

#bloco-selos .bloco-selos-garantia .item .seguradora {
  margin-top: 7px;
  background: url(/assets/img/icones/sulamerica.png) no-repeat scroll center center/cover;
  width: 120px;
  height: 50px; }

#bloco-selos .bloco-selos-garantia .item .grupo-tripguard {
  background: url(/assets/img/icones/selo.png) no-repeat scroll center center/cover;
  width: 65px;
  height: 65px; }

#bloco-selos .bloco-selos-garantia .item .ssl {
  background: url(/assets/img/icones/ssl.png) no-repeat scroll center center/cover;
  width: 65px;
  height: 65px; }

#bloco-selos .bloco-selos-termos-legais {
  padding: 10px 20px 10px;
  font-family: 'Open Sans';
  font-size: 10px;
  line-height: 16px;
  color: #8c8c8c; }
