<div class="checkout">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="content">
                    <div class="row">
                        <div class="col-md-4 pr-md-0 menu">
                            <a href="" class="link">Alterar forma de pagamento</a>

                            <div class="card-box">
                                <h1 class="title">
                                    <img src="./../../../assets/images/card-icon.svg"  alt="">
                                    <span>Adicione um novo cartão de crédito</span> 
                                </h1>

                                <div class="card-image">
                                    <img src="./../../../assets/images/filled-card.svg"  alt="">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8 pl-md-0">lado form
                            <br>
                            dsajdashudsa
                            <br>
                            <br>
                            <br>
                            hdasu ds
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pl-md-0">
                <app-summary></app-summary>
            </div>
        </div>
    </div>
</div>