<ng-container *ngIf="show">
    <div class="checkout">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="content">
                        <div class="row">
                            <div class="col-md-4 menu">
                                <a href="" class="link">
                                    <div class="arrow-left"></div> Alterar forma de pagamento
                                </a>

                                <div class="card-box">
                                    <h1 class="title">
                                        <img src="./../../../assets/images/card-icon.svg" alt="">
                                        <span>Adicione um novo cartão de crédito</span>
                                    </h1>

                                    <div class="card-image">
                                        <img src="./../../../assets/images/filled-card.svg" alt="">
                                    </div>
                                </div>
                            </div>

                            <!-- pl-md-0 -->
                            <div class="col-md-8 ">
                                
                                <form class="cardForm" [formGroup]="form" (ngSubmit)="pay()" autocomplete="off">
                                    <app-step-box></app-step-box>

                                    <div class="row">
                                        <div class="col-12">

                                            <div class="form-group-material">
                                                <input type="tel" class="form-control unscale-input-card"
                                                    formControlName="cardNumber" id="cardNumber" [ngClass]="{
                                                        'is-invalid': isFieldInvalid('cardNumber'),
                                                        'valid': toggleLabel('cardNumber')
                                                      }">
                                                <!-- (input)="applyMask($event)" -->
                                                <label class="animated-label">
                                                    Número do cartão
                                                </label>

                                                <div class="invalid-feedback" *ngIf="form.get('cardNumber').errors">
                                                    {{ error('cardNumber') }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="form-group-material">
                                                <input type="text" class="form-control unscale-input-card"
                                                    id="holderName" formControlName="holderName" [ngClass]="{
                                                        'is-invalid': isFieldInvalid('holderName'),
                                                        'valid': toggleLabel('holderName')
                                                      }">
                                                <label class="animated-label">
                                                    Nome (igual ao cartão)
                                                </label>

                                                <div class="invalid-feedback" *ngIf="form.get('holderName').errors">
                                                    {{ error('holderName') }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-6">
                                            <div class="form-group-material">
                                                <input type="tel" class="form-control unscale-input-card"
                                                    id="expireDate" formControlName="expireDate" [ngClass]="{
                                                        'is-invalid': isFieldInvalid('expireDate'),
                                                        'valid': toggleLabel('expireDate')
                                                      }">
                                                <!-- (input)="applyMask($event)" -->
                                                <label class="animated-label">Validade</label>

                                                <div class="invalid-feedback" *ngIf="form.get('expireDate').errors">
                                                    {{ error('expireDate') }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-6">

                                            <div class="form-group-material">
                                                <input type="tel" class="form-control unscale-input-card" id="cvv"
                                                    formControlName="cvv" [ngClass]="{
                                                        'is-invalid': isFieldInvalid('cvv'),
                                                        'valid': toggleLabel('cvv')
                                                      }">
                                                <!-- (input)="applyMask($event)" -->
                                                <label class="animated-label">
                                                    CVV
                                                </label>

                                                <div class="invalid-feedback" *ngIf="form.get('cvv').errors">
                                                    {{ error('cvv') }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="form-group-material">
                                                <select class="form-control" id="installment"
                                                    formControlName="installment" [ngClass]="{
                                                        'is-invalid': isFieldInvalid('installment'),
                                                        'valid': toggleLabel('installment')
                                                      }">
                                                    <option value="" disabled hidden></option>
                                                    <option value="1" >1x</option>
                                                    <!-- <option
                                                        *ngFor="let cardType of installmentByCreditCard; let i = index"
                                                        value="{{ cardType.paymentMethodName }}">
                                                        {{ cardType.paymentMethodName }}</option> -->
                                                </select>

                                                <label class="animated-label">
                                                    Número de parcelas
                                                </label>

                                                <div class="invalid-feedback" *ngIf="form.get('installment').errors">
                                                    {{ error('installment') }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 text-right">
                                            <button type="submit" class="btn btn-continue">
                                                Continuar
                                            </button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 pl-md-0">
                    <app-summary></app-summary>
                </div>
            </div>
        </div>
    </div>
</ng-container>