<ng-container *ngIf="show">
    <div class="checkout">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-12 pr-0 pl-0 pr-md-1 pl-md-1">
                    <div class="content">
                        <div class="row">
                            <div class="col-md-4 col-12 menu">

                                <div class="menu-content">

                                    <a [routerLink]="'/'" class="link-desktop">
                                        <div class="arrow-left"></div>
                                        Alterar forma de pagamento
                                    </a>

                                    <div class="link-mobile">
                                        <a [routerLink]="'/'">
                                            <div class="arrow">
                                                <div class="left"></div>
                                            </div>
                                        </a>
                                        <div class="text"><strong>Etapa 2</strong> de 3</div>
                                    </div>

                                    <div class="card-box">
                                        <h1 class="title">
                                            <img src="./../../../assets/images/card-icon.svg" alt="">
                                            <span>Adicione um novo<br> cartão de crédito</span>
                                        </h1>

                                        <div class="card-image"
                                            [ngClass]="{'detected-brand': (!!form.get('brand').value)}">
                                            <div class="credit-card-front" *ngIf="currentField !== 'cvv'">
                                                <div class="card-brand">
                                                    <ng-container *ngIf="(!!form.get('brand').value)">
                                                        <img
                                                            src="./../../../assets/images/card-brand-{{ form.get('brand').value }}.png">
                                                    </ng-container>
                                                </div>
                                                <div class="card-number">
                                                    {{ form.get('cardNumber').value || '**** **** **** ****' }}
                                                </div>
                                                <div class="card-holder-name">
                                                    {{ form.get('holderName').value || 'nome do titular'}}
                                                </div>
                                                <div class="card-expire-date">
                                                    {{ form.get('expireDate').value || '00/00'}}
                                                </div>
                                            </div>

                                            <div class="credit-card-back" *ngIf="currentField === 'cvv'">
                                                <div class="card-cvv">
                                                    {{ form.get('cvv').value || '***'}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- pl-md-0 -->
                            <div class="col-md-8 col-12">

                                <form class="card-form" [formGroup]="form" (ngSubmit)="pay()" autocomplete="off">
                                    <div class="d-none d-md-block">
                                        <app-step-box></app-step-box>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">

                                            <div class="form-group-material">
                                                <input type="tel" class="form-control unscale-input-card"
                                                    formControlName="cardNumber" id="cardNumber" [ngClass]="{
                                                        'is-invalid': isFieldInvalid('cardNumber'),
                                                        'valid': toggleLabel('cardNumber')
                                                      }" (focus)="setCurrentField('cardNumber')"
                                                    (focusout)="setCurrentField(null)" (input)="mask('cardNumber')"
                                                    maxlength="19">

                                                <label class="animated-label">
                                                    Número do cartão
                                                </label>

                                                <div class="invalid-feedback" *ngIf="form.get('cardNumber').errors">
                                                    {{ error('cardNumber') }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12" [hidden]="true">
                                            <div class="form-group-material">
                                                <select class="form-control" id="brand" formControlName="brand"
                                                    [ngClass]="{
                                                        'is-invalid': isFieldInvalid('brand'),
                                                        'valid': toggleLabel('brand')
                                                      }" (focus)="setCurrentField('brand')"
                                                    (focusout)="setCurrentField(null)">
                                                    <option value="" disabled hidden></option>

                                                    <option value="visa">Visa</option>
                                                    <option value="master">Master Card</option>
                                                </select>

                                                <label class="animated-label">
                                                    Bandeira
                                                </label>

                                                <div class="invalid-feedback" *ngIf="form.get('brand').errors">
                                                    {{ error('brand') }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="form-group-material">
                                                <input type="text" class="form-control unscale-input-card"
                                                    id="holderName" formControlName="holderName" [ngClass]="{
                                                        'is-invalid': isFieldInvalid('holderName'),
                                                        'valid': toggleLabel('holderName')
                                                      }" (focus)="setCurrentField('holderName')"
                                                    (focusout)="setCurrentField(null)" (input)="mask('holderName')">
                                                <label class="animated-label">
                                                    Nome (igual ao cartão)
                                                </label>

                                                <div class="invalid-feedback" *ngIf="form.get('holderName').errors">
                                                    {{ error('holderName') }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-6">
                                            <div class="form-group-material">
                                                <input type="tel" class="form-control unscale-input-card"
                                                    id="expireDate" formControlName="expireDate" [ngClass]="{
                                                        'is-invalid': isFieldInvalid('expireDate'),
                                                        'valid': toggleLabel('expireDate')
                                                      }" (focus)="setCurrentField('expireDate')"
                                                    (focusout)="setCurrentField(null)" (input)="mask('expireDate')"
                                                    maxlength="5">
                                                <label class="animated-label">Validade</label>

                                                <div class="invalid-feedback" *ngIf="form.get('expireDate').errors">
                                                    {{ error('expireDate') }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-6">

                                            <div class="form-group-material">
                                                <input type="tel" class="form-control unscale-input-card" id="cvv"
                                                    formControlName="cvv" [ngClass]="{
                                                        'is-invalid': isFieldInvalid('cvv'),
                                                        'valid': toggleLabel('cvv')
                                                      }" (focus)="setCurrentField('cvv')"
                                                    (focusout)="setCurrentField(null)" (input)="mask('cvv')"
                                                    maxlength="3">
                                                <label class="animated-label">
                                                    CVV
                                                </label>

                                                <div class="invalid-feedback" *ngIf="form.get('cvv').errors">
                                                    {{ error('cvv') }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="form-group-material">
                                                <select class="form-control" id="installment"
                                                    formControlName="installment" [ngClass]="{
                                                        'is-invalid': isFieldInvalid('installment'),
                                                        'valid': toggleLabel('installment')
                                                      }" (focus)="setCurrentField('installment')"
                                                    (focusout)="setCurrentField(null)">
                                                    <option value="" disabled hidden></option>

                                                    <ng-container
                                                        *ngFor="let installment of installments; let i = index">
                                                        <option [ngValue]="installment">
                                                            {{ installment.installmentNumber }}x
                                                            {{ installment.installmentValue | currency:'BRL':'symbol' }}
                                                            {{ installment.interestDescription }}
                                                        </option>
                                                    </ng-container>

                                                </select>

                                                <label class="animated-label">
                                                    Número de parcelas
                                                </label>

                                                <div class="invalid-feedback" *ngIf="form.get('installment').errors">
                                                    {{ error('installment') }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 text-right">
                                            <button type="submit" class="btn btn-continue">
                                                Continuar
                                            </button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-md-block d-none">
                    <app-summary></app-summary>
                </div>
            </div>
        </div>
    </div>
</ng-container>