<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Seguro Viagem Europa SulAmérica | segurocerto</title>

	<link href="assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="assets/js/jquery-ui/jquery-ui.min.css" rel="stylesheet">
	<link href="assets/css/style.css" rel="stylesheet">
	<link href="assets/css/responsive.css" rel="stylesheet">
	<link href="assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
<section id="pagina-area-segurado">
	<div class="container">
		<div class="row">
			<div class="area-segurado-bloco-login">
				<div class="imagem-logo">
					<a href="/" title="Seguro certo">
						<img src="assets/img/segurocerto.png" alt="Segurocerto">
					</a>
				</div>

				<h1 class="titulo-principal">Painel do segurado</h1>

				<p class="descricao">
					Você poderá acessar detalhes sobre as contratações, acessar apólices, promoções e muito mais.
				</p>

				<div class="facebook-login">
						<button class="btn btn-facebook-login" type="submit">
							<i class="fa fa-facebook" aria-hidden="true"></i> <span>Cadastrar com facebook</span>
						</button>
				</div>

				<p class="descricao">
					Ou cadastre-se com seu email e senha.
				</p>

				<form autocomplete="off" class="form-login" id="area-segurado-login" method="post" action="">
					<div class="form-group col-sm-12 col-md-12 col-xs-12 campo-validacao">
						<input class="form-control" type="email" placeholder="Email" name="email">
					</div>

					<div class="form-group col-sm-12 col-md-12 col-xs-12 campo-validacao">
						<input class="form-control" type="password" placeholder="Senha" name="senha">
					</div>

					<div class="form-group col-sm-12 col-md-12 col-xs-12 campo-validacao">
						<input class="form-control" type="password" placeholder="Confirme a Senha" name="senha_confirmar">
					</div>

					<div class="form-group col-sm-12">
						<button class="btn btn-login btn-success" type="submit">Cadastrar</button>
					</div>
				</form>

			</div>
		</div>
	</div>
</section>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery-ui/jquery-ui.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<!--<script src="assets/js/analytics.min.js"></script>-->
<!--<script src="assets/js/tawkto.min.js"></script>-->
<script src="assets/js/jquery.mask.min.js"></script>
<script src="assets/js/jquery.mask.geral.min.js"></script>
<script src="assets/js/jquery.validate.min.js"></script>
<script src="assets/js/scripts.min.js"></script>
</body>
</html>