<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Seguro Viagem Europa SulAmérica | segurocerto</title>

	<link href="assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="assets/js/jquery-ui/jquery-ui.min.css" rel="stylesheet">
	<link href="assets/css/style.css" rel="stylesheet">
	<link href="assets/css/responsive.css" rel="stylesheet">
	<link href="assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>

<nav class="navbar navbar-default topo">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="">
				<img src="assets/img/segurocerto.png" width="175" alt="Segurocerto">
			</a>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<div id="navbar" class="navbar-collapse collapse topo-menu">
			<ul class="nav navbar-nav lista-menus">
				<li>
					<a href="" title="Área do cliente" class="btn btn-default">
						<i class="fa fa-comments" aria-hidden="true"></i> Chat online
					</a>
				</li>
				<li>
					<a href="" title="Área do cliente" class="btn btn-default">
						<i class="fa fa-user" aria-hidden="true"></i> Painel cliente
					</a>
				</li>
			</ul>
		</div>

		<div class="bloco-atendimento hidden-xs">
			<div class="item1">
				<i class="fa fa-clock-o icone" aria-hidden="true"></i>
				<div class="texto">
					Atendimento <br>
					segunda a sábado <br>
					<span>09:00</span> ÀS <span>21:00</span> HORAS
				</div>
			</div>
			<div class="item2">
				<i class="fa fa-phone icone" aria-hidden="true"></i>
				<div class="info-phone">
					0800 591 5107
				</div>

				<div class="item-whatsapp">
					<div class="icon-whatsapp">Via WhatsApp</div>
					<div class="info-whatsapp">
						<a href="https://api.whatsapp.com/send?phone=5511971371516" target="_blank" title="Atendimento via whatsapp">(11) 97137-1516</a>
					</div>
				</div>
			</div>
		</div>

	</div>
</nav>

<section id="pagina-finalizacao">
	<div class="container">
		<div class="row">
			<div class="col-md-8 no-padding">
				<div class="col-md-12">
					<h1 class="titulo-principal">Falta pouco para concluir a sua contratação</h1>
				</div>
				<div class="col-md-12 bloco-finalizacao">
					<p>
						Para concluir a sua contratação o pagamento deve ser efetuado até 14/09/2017, envie o comprovante e o código da contratação para nosso email contato@tripguard.com.br para confirmação e emissão da sua apólice.

						<br>
						<br>
						<strong>Atenção:</strong> <br>
						A emissão da apólice está vinculada a confirmação do pagamento, se não houver a confirmação essa contratação será cancelada. Enviamos esses dados para seu email is.ivosantos@gmail.com.
					</p>
				</div>
			</div>

			<!-- RESUMO -->
			<div class="col-md-4 col-xs-12" id="resumo">

				<div class="panel panel-default bloco-resumo">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" href="#collapse-forma-pagamento"><i class="fa fa-chevron-right" aria-hidden="true"></i> Forma de pagamento</a>
						</h4>
					</div>
					<div id="collapse-forma-pagamento" class="panel-collapse collapse in">
						<div class="panel-body">
							Depósito <br>
							Vencimento: <span>23/09/2017</span> <br>
							Valor: <span>R$ 17,97 </span><br>
							<span>(Desconto 7% já aplicado) desconto por forma de pagamento escolhida	</span><br>
						</div>
					</div>
				</div>

				<div class="panel panel-default bloco-resumo">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" href="#collapse-viajantes"><i class="fa fa-chevron-right" aria-hidden="true"></i> Viajantes</a>
						</h4>
					</div>
					<div id="collapse-viajantes" class="panel-collapse collapse">
						<div class="panel-body">
							Nome: <span>ivo santos</span> <br>
							CPF: <span>390.814.758-19</span> <br>
							Nascimento: <span>29/07/1990</span> <br>
							Sexo: <span>Masculino</span> <br>
						</div>
					</div>
				</div>


				<div class="panel panel-default bloco-resumo">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" href="#collapse-plano"><i class="fa fa-chevron-right" aria-hidden="true"></i> Plano</a>
						</h4>
					</div>
					<div id="collapse-plano" class="panel-collapse collapse">
						<div class="panel-body">
							Plano: <span>Europa</span><br>
							De 0 à 64 anos:<span> R$ 19,32</span><br>
							De 65 à 90 anos: <span>R$ 28,99</span><br>
						</div>
					</div>
				</div>

				<div class="panel panel-default bloco-resumo">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" href="#collapse-cotacao"><i class="fa fa-chevron-right" aria-hidden="true"></i> Cotação</a>
						</h4>
					</div>
					<div id="collapse-cotacao" class="panel-collapse collapse">
						<div class="panel-body">
							Destino: <span>Europa</span><br>
							Data ida: <span>29/09/2017</span><br>
							Data volta: <span>29/09/2017</span><br>
							Total de dias: <span>1 dia</span>
						</div>
					</div>
				</div>

			</div>
			<!-- /RESUMO -->
		</div>
	</div>
</section>

<section id="bloco-selos">
	<div class="container">
		<div class="row">
			<div class="col-md-6 bloco-selos-formas-pagamento">
				<div class="item"></div>
			</div>
			<div class="col-md-6 bloco-selos-garantia">
				<div class="col-md-4 item">
					<div class="seguradora"></div>
				</div>
				<div class="col-md-4 item">
					<div class="certificado"></div>
				</div>
				<div class="col-md-2 item">
					<div class="grupo-tripguard"></div>
				</div>
				<div class="col-md-2 item">
					<div class="ssl"></div>
				</div>
			</div>
			<div class="col-md-12 bloco-selos-termos-legais">
				Sul América Seguros de Pessoas e Previdência. CNPJ 01.704.513/0001-46. Este material contém informações resumidas. Os seguros SulAmérica obedecem às Condições Gerais que devem ser lidas previamente à sua contratação. Processo SUSEP SulAmérica Viagem Individual 15414.901176/2015-81. O registro desse plano na SUSEP não implica, por parte da Autarquia, incentivo ou recomendação à sua comercialização. Todas as coberturas desse seguro são válidas durante o período de vigência da apólice, respeitadas as cláusulas definidas nas Condições Gerais do produto. Idade para a contratação do plano: de 0 a 90 anos / Para menores de 18 anos, a contratação poderá ser realizada por um responsável legal. Central de serviços: 4004 4935 (Regiões Metropolitanas) e 0800 726 4935 (Demais Localidades) – Atendimento de 2ª a 6ª feira, das 8h às 18h30. SAC: 0800 725 1894. SAC Deficiente Auditivo ou de Fala: 0800 702 2242. Ouvidoria: 0800 725 3374. Condições Gerais -
				<a href="assets/arquivos/condicoes-gerais.pdf" target="_blank" title="Condições gerais"><strong>Clique aqui</strong></a>
				<br>
				<br>
				© 2017 - TripGuard - CNPJ: 13.225.630/0001-06. Todos os direitos reservados.
			</div>
		</div>
	</div>
</section>


<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery-ui/jquery-ui.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<!--<script src="assets/js/analytics.min.js"></script>-->
<!--<script src="assets/js/tawkto.min.js"></script>-->
<script src="assets/js/jquery.mask.min.js"></script>
<script src="assets/js/jquery.mask.geral.min.js"></script>
<script src="assets/js/jquery.validate.min.js"></script>
<script src="assets/js/scripts.min.js"></script>
</body>
</html>