<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Seguro Viagem Europa SulAmérica | segurocerto</title>

	<link href="assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="assets/js/jquery-ui/jquery-ui.min.css" rel="stylesheet">
	<link href="assets/css/style.css" rel="stylesheet">
	<link href="assets/css/responsive.css" rel="stylesheet">
	<link href="assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>

<nav class="navbar navbar-default topo">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="">
				<img src="assets/img/segurocerto.png" width="175" alt="Segurocerto">
			</a>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<div id="navbar" class="navbar-collapse collapse topo-menu">
			<ul class="nav navbar-nav lista-menus">
				<li>
					<a href="" title="Área do cliente" class="btn btn-default">
						<i class="fa fa-comments" aria-hidden="true"></i> Chat online
					</a>
				</li>
				<li>
					<a href="" title="Área do cliente" class="btn btn-default">
						<i class="fa fa-user" aria-hidden="true"></i> Painel cliente
					</a>
				</li>
			</ul>
		</div>

		<div class="bloco-atendimento hidden-xs">
			<div class="item1">
				<i class="fa fa-clock-o icone" aria-hidden="true"></i>
				<div class="texto">
					Atendimento <br>
					segunda a sábado <br>
					<span>09:00</span> ÀS <span>21:00</span> HORAS
				</div>
			</div>
			<div class="item2">
				<i class="fa fa-phone icone" aria-hidden="true"></i>
				<div class="info-phone">
					0800 591 5107
				</div>

				<div class="item-whatsapp">
					<div class="icon-whatsapp">Via WhatsApp</div>
					<div class="info-whatsapp">
						<a href="https://api.whatsapp.com/send?phone=5511971371516" target="_blank" title="Atendimento via whatsapp">(11) 97137-1516</a>
					</div>
				</div>
			</div>
		</div>

	</div>
</nav>


<section id="pagina-painel-segurado">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="titulo-principal">Painel do segurado</h1>
			</div>

			<div class="col-md-12 bloco-painel-segurado">
				<div class="col-md-3 col-xs-12 menu">

					<nav class="navbar navbar-default">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar" aria-expanded="false" aria-controls="navbar">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div id="sidebar" class="navbar-collapse collapse">
							<ul class="nav navbar-nav">
								<li><a href="#">Home</a></li>
								<li><a href="#">About</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
						</div>
					</nav>

				</div>
				<div class="col-md-9">conteúdo</div>
			</div>
		</div>
	</div>
</section>


<section id="bloco-selos">
	<div class="container">
		<div class="row">
			<div class="col-md-6 bloco-selos-formas-pagamento">
				<div class="item"></div>
			</div>
			<div class="col-md-6 bloco-selos-garantia">
				<div class="col-md-4 item">
					<div class="seguradora"></div>
				</div>
				<div class="col-md-4 item">
					<div class="certificado"></div>
				</div>
				<div class="col-md-2 item">
					<div class="grupo-tripguard"></div>
				</div>
				<div class="col-md-2 item">
					<div class="ssl"></div>
				</div>
			</div>
			<div class="col-md-12 bloco-selos-termos-legais">
				Sul América Seguros de Pessoas e Previdência. CNPJ 01.704.513/0001-46. Este material contém informações resumidas. Os seguros SulAmérica obedecem às Condições Gerais que devem ser lidas previamente à sua contratação. Processo SUSEP SulAmérica Viagem Individual 15414.901176/2015-81. O registro desse plano na SUSEP não implica, por parte da Autarquia, incentivo ou recomendação à sua comercialização. Todas as coberturas desse seguro são válidas durante o período de vigência da apólice, respeitadas as cláusulas definidas nas Condições Gerais do produto. Idade para a contratação do plano: de 0 a 90 anos / Para menores de 18 anos, a contratação poderá ser realizada por um responsável legal. Central de serviços: 4004 4935 (Regiões Metropolitanas) e 0800 726 4935 (Demais Localidades) – Atendimento de 2ª a 6ª feira, das 8h às 18h30. SAC: 0800 725 1894. SAC Deficiente Auditivo ou de Fala: 0800 702 2242. Ouvidoria: 0800 725 3374. Condições Gerais -
				<a href="assets/arquivos/condicoes-gerais.pdf" target="_blank" title="Condições gerais"><strong>Clique aqui</strong></a>
				<br>
				<br>
				© 2017 - TripGuard - CNPJ: 13.225.630/0001-06. Todos os direitos reservados.
			</div>
		</div>
	</div>
</section>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery-ui/jquery-ui.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<!--<script src="assets/js/analytics.min.js"></script>-->
<!--<script src="assets/js/tawkto.min.js"></script>-->
<script src="assets/js/jquery.mask.min.js"></script>
<script src="assets/js/jquery.mask.geral.min.js"></script>
<script src="assets/js/jquery.validate.min.js"></script>
<script src="assets/js/scripts.min.js"></script>
</body>
</html>