.items {
    padding-top: 50px;
    width: 100%;
    margin-bottom: 50px;

    white-space: nowrap;

    .item {
        display: inline-block;
        color: #DE4B4B;
        font-family: Verdana;
        font-size: 13px;

        .step-number {
            display: inline-block;
            padding-top: 2.8px;
            text-align: center;
            border-radius: 50px;
            border: 1px solid #DE4B4B;
            width: 25px;
            height: 25px;
            font-size: 13px;
            margin-right: 8px;
            font-weight: bold;
        }

        .text {
            font-size: 13px;
            display: inline-block;
        }
    }

    .separator {
        margin-left: 10px;
        margin-right: 10px;

        &.arrow-right {
            border: solid #DE4B4B;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
        }
    }
}
