@import "./assets/scss/fonts.scss";

body {
    font-family: 'Open Sans', 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    // overflow-x: hidden;
    background: #FFF;
    margin: 0;
}
