.footer {
    background: #FFF;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 28px;
    padding-bottom: 28px;

    .menu {
        margin: 0 auto;
        width: 80%;
        background: #C9C9C9;
        height: 12px;
    }
}
